@font-face {
  font-family: "ProximaNova"; 
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 400; 
}

@font-face {
  font-family: "ProximaNova"; 
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 600; 
}

@font-face {
  font-family: "ProximaNova"; 
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: 700; 
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, 
figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --purple: #7050E5;
  --orange: #FF8B00;
  --white: #fff;
}

html,
body {
  height: 100%;
  font-size: 15px;
  font-family: "ProximaNova";
}

h1 {
  color: var(--purple);
}

h2 {
  color: var(--white);
}

h3 {
  color: var(--purple);
}

h4 {
  color: var(--white);
}

h5 {
  color: var(--purple);
}

h6 {
  color: var(--orange);
}

.header {
  background: no-repeat url("../img/Bg.png");
  background-size: cover !important;
  background-position: center top !important;
}

@media (min-resolution: 2dppx) {
  .header{background: no-repeat url("../img/Bg2x.png");}
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color: var(--white);
  padding: 8px 1px;
  margin-left: 28px;
  font-weight: 700;
  transition: 1.1s;
}

.nav__link:hover {
  color: #c46c01;
}

.nav__link_active {
  border-bottom: 3px solid var(--orange);
}

.header-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.slider {
  max-width: 552px;
  overflow: hidden;
}

.slider__line {
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slide {
  max-width: 552px;
}

.slider-rounds {
  flex-direction: column;
  position: absolute;
  top: 335px;
  left: 93%;
}

.slider-rounds__btn {
  margin-bottom: 6px;
  transition: 1.1s;
}

.slider-rounds__btn:hover {
  transform: scale(1.1);
}

.slider-rounds__img_active {
  fill: orange;
  fill-rule: nonzero;
}

.about {
  max-width: 552px;
  font-weight: 600;
}

.about__subtitle {
  font-size: 16px;
  color: var(--white);
}

.btn {
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 4px;
  transition: 1.1s;
}

.btn:hover {
  background-color: #c46c01;
}

.about__btn {
  padding: 4px 40px;
  line-height: 45px;
}

.find-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  color: var(--white);
  font-weight: bold;
}

.find-more__img {
  margin-top: 19px;
  margin-bottom: 50px;
  transition: 1.2s;
}

.find-more__img:hover {
  transform: scale(1.1);
}

.stats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.achieve__text{
  color: var(--purple);
  font-weight: 700;
  text-transform: uppercase;
}

.products {
  background-color: #F8F8F8;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(244px, 281px));
  grid-gap:75px;
  justify-content: center;
}

.pruducts__title {
  display: flex;
}

.pruducts__articul {
  position: relative;
}

.pruducts__img {
  position: absolute;
  bottom: 65%;
  left: 100%;
}

.product-item {
  max-width: 281px;
}

.product-item__title {
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-item__text {
  width: -moz-fit-content;
  width: fit-content;
  line-height: 19px;
  letter-spacing: -0.008em;
  color: #878787;
}

.spotlight {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.about__subtitle-spotlight {
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 38px;
  letter-spacing: -0.02em;
  color: #878787;
}

.spotlight__btn, about__btn-spotlight {
  width: 171px;
  height: 44px;
  line-height: 18px;
}

.spotlight__img {
  width: 100%;
  height: auto;
}

.getstart {
  display: flex;
  flex-wrap: wrap;
  background-color: #232323;
  background-image: url("../img/light_blur.svg");
  background-repeat: no-repeat
}

.contact-form__title {
  margin-bottom: 28px;
}

.contact-form__fields {
  max-width: 640px;
  min-height: 355px;
  display: flex;
  flex-wrap: wrap;
}

.text-field__input {
  width: 100%;
  min-height: 40px;
  padding: 9px 13px;
  margin-top: 8px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 7px;
  background-color: var(--white);
  border: 1px solid #D2D6DA;
  border-radius: 8px;
}

.text-field__input_bigtext {
  resize: none;
  height: 96px;
}

.text-field__input::placeholder {
  color: #3D3D3D;
  opacity: 0.5;
}

.text-field__label {
  font-weight: 600;
  font-size: 13px;
  line-height: 1px;
  color: var(--white);
}

.contact-form__btn-wrap {
  display: flex;
}

.contact-form__btn {
  width: 201px;
  height: 53px;
}

.border {
  display: block;
  margin-bottom: 97px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #363636;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__title {
  margin-bottom: 20px;
  margin-left: 26px;
  position: relative;
}

.footer__title:after {
  content: url("../img/footer/footer_dot.svg");
  position: absolute;
  z-index: 10;
  left: -26px;
  top: -2px;
}

.footer__list {
  margin-bottom: 8px;
}

.footer__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
  text-transform: uppercase;
  transition: 1.1s;
}

.footer__link:hover {
  color: #c46c01;
}

.footer__logo {
  display: flex;
  align-items: flex-end;
}

.end {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: center;
  color: var(--white);
  background-color: #252525;
}