@font-face {
  font-family: "ProximaNova"; 
  src: url("/assets/fonts/ProximaNova-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

@font-face {
  font-family: "ProximaNova"; 
  src: url("/assets/fonts/ProximaNova-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: bold; 
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration-skip-ink: auto;
  outline: none;
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
    --purple: #7050E5;
    --orange: #FF8B00;
  }

html,
body {
  height: 100%;
  font-size: 15px;
  font-family: "ProximaNova";
  scroll-behavior: smooth;
}

h1 {
  font-size: 60px;
  color: var(--purple);
}

h2 {
  font-size: 55px;
  color: #FFFFFF;
}

h3 {
  font-size: 40px;
  color: var(--purple);
}

h4 {
  font-size: 28px;
  color: #FFFFFF;
}

h5 {
  font-size: 18px;
  color: var(--purple);
}

h6 {
  font-size: 14px;
  color: var(--orange);
}

.flex {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slider {
  position: fixed;
  top: 330px;
  left: 95%;
  background-color: #5F49CE;
  padding: 5px;
  border-radius: 4px;
}

.slider ul li {
  margin-bottom: 12px;
}

.container {
  margin: 0 auto;
  max-width: 1152px;
}

.header {
  background: no-repeat url("/assets/img/Bg.png");
  background-size: cover;
  background-position: center top;
}

.nav {
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  margin-bottom: 129px;
}

.nav_btn {
  color: #FFFFFF;
  margin-left: 28px;
  font-weight: 700;
}

.info_short {
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  margin-bottom: 135px;
  align-items: center;
}

.info_text{
  max-width: 552px;
  font-weight: bold;
  line-height: 30px;
  margin-right: 50px;
}

.info_text p {
  margin-bottom: 44px;
  font-size: 16px;
  color: #FFFFFF;
}

.info_text h2 {
  line-height: 55px;
  margin-bottom: 12px;
}

.btn {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 40px;
  color: #FFFFFF;
  background-color: var(--orange);
  border: none;
  border-radius: 4px;
  line-height: 45px;
  transition: 1.1s;
}

.btn:hover {
  background-color: #c46c01;
  scale: 1.1;
}

.twitter {
  max-width: auto;
  max-height: 121.58px;
}

.more {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  color: #FFFFFF;
  font-weight: bold;
}

.union {
  max-width: 62px;
  max-height: 71px;
  margin-top: 19px;
  margin-bottom: 50px;
  transition: 1.2s;
}

.union:hover {
  scale: 1.1;
}

.stats {
  padding: 133px 0 131px 0;
  text-align: center;
}

.stats .container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.stats .container p{
  font-size: 16px;
  color: var(--purple);
  font-weight: bold;
}

.products {
  background-color: #F8F8F8;
  padding: 120px 0px;
}

.products_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(244px, 281px));
  grid-gap:75px;
  justify-content: center;
}

.pruducts_title {
  display: flex;
  text-align: right;
  justify-content: right;
  margin-bottom: 68px;
}

.articul {
  position: relative;
  margin-right: 100px;
}

.pruducts_title img {
  position: absolute;
  max-width: auto;
  height: 46px;
  bottom: 90%;
  left: 100%;
}

.product {
  max-width: 281px;
}

#first_column {
  max-width: 271px;
}

#second_column {
  max-width: 241px;
}

#third_column {
  max-width: 281px;
}

.product img {
  margin: 0  auto;
  margin-bottom: 28px;
}

.product p {
  width: fit-content;
  line-height: 19px;
  letter-spacing: -0.008em;
  color: #878787;
}

.product h5 {
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.spotlight {
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 114px 0 97px 0;
}

.spotlight_half {
  justify-content: center;
  max-width: 500px;
}

.spotlight_half h3{
  line-height: 55px;
  margin-bottom: 15px;
}

.spotlight_half p{
  line-height: 21px;
  margin-bottom: 38px;
  letter-spacing: -0.02em;
  color: #878787;
}

.video-js {
  width: 724px;
  height: 444px;
}

.getstart {
  display: flex;
  flex-wrap: wrap;
  background-color: #232323;
  justify-content: space-evenly;
  padding: 120px 0;
  background-image: url(/assets/img/light-blur.png);
  background-repeat: no-repeat
}

.getstart div h4 {
  margin-bottom: 28px;
}

.start_form {
  max-width: 640px;
}

input {
  background: #FFFFFF;
  border: 1px solid #D2D6DA;
  border-radius: 8px;
  font-size: 14px;
  line-height: 7px;
}

.text-field__input::placeholder {
  color: #3D3D3D;
  opacity: 0.5;
}

.text-field {
  margin-bottom: 28px;
}

.text-field__label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 1px;
  color: #fff;
}

.text-field__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 7px;
  background-color: #fff;
  border: 1px solid #D2D6DA;
  border-radius: 8px;
}

.double-field {
  flex-wrap: wrap;
}

#double-field_SecondName {
  margin-left: 20px;
}

#Textarea {
  height: 96px;
  width: 640px;
}

#First_Name{
  width: 308px;
}

#Second_Name{
  width: 312px;
}

#btn-form {
  width: 201px;
  height: 53px;
}

.border {
  display: block;
  margin-bottom: 97px;
}

.footer {
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 56px 0 49px 0;
  background-color: #363636;
}

.footer h6 {
  margin-bottom: 20px;
  margin-left: 25px;
  position: relative;
}

.footer h6::after {
  content: url(/assets/img/Polygon.png);
  height: 20px;
  width: auto;
  position: absolute;
  z-index:100000;
  left: -26px;
  top: -2px;
}

.foot_btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer div ul li{
  margin-bottom: 8px;
}

.foot_logo {
  align-items: flex-end;
}

.end {
  text-align: center;
  color: #FFFFFF;
  background-color: #252525;
}

@media (max-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
  .video {
    display: flex;
    justify-content: center;
    margin-bottom: 97px;
    margin-top: 40px;
  }
  .video-js {
    width: 319px;
    height: 196px;
  }
}

@media (max-width: 767.98px){
  .container {
    max-width: 720px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .info_text h2 {
    margin-bottom: 16px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
    padding: 0 28px;
  }
  .spotlight, .getstart {
    padding: 0 28px;
  }
  .getstart{
    padding: 40px 0;
  }
  .burger_label {
    display: block;
  }
  .slider {
    display: none;
  }
  nav {
    display: none;
  }
  .text-field__input {
    max-width: 311px;
  }
  .twitter {
    margin-bottom: 64px;
  }
  .stats .container div{
    margin-bottom: 68px;
  }
  .pruducts_title{
    text-align: center;
    justify-content: center;
  }
  .product {
    margin-bottom: 60px;
  }
  h1 {
    font-size: 34px;
    line-height: 72px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  .getstart div h2 {
    margin-bottom: 48px;
  }
  #double-field_SecondName {
    margin-left: 0;
  }
  .start_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 28px;
  }
  .foot_logo{
    margin-top: 80px;
    padding: 0 50px;
    margin-bottom: 40px;
  }
  .spotlight_half {
    margin-top: 100px;
  }
}

@media (max-width: 1199.98px){
  .container {
    max-width: 1140px;
  }
}